{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="top-section">
        <h1>F1 Manager</h1>
        <a href="create_racer" class="buttonLink"><i>Create Racer</i></a>
        <a href="create_team" class="buttonLink"><i>Create Team</i></a>
        <a href="create_bolide" class="buttonLink"><i>Create Bolide</i></a>
        <a href="create_admin" class="buttonLink"><i>Create Admin</i></a>
        <a href="racers_list" class="buttonLink"><i>Racers List</i></a>
        <a href="login" class="buttonLink">Login</a>
        <a href="signup" class="buttonLink">Signup</a>
        <a href="logout" class="buttonLink">Logout</a>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/F1.svg/2560px-F1.svg.png" class="f1_logo">
    </div>
</body>
</html>