{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>{{ racer.first_name }}</h1>
        <h1>{{ racer.last_name }}</h1>
        <p>"Team: " {{ racer.team }}</p>
        <p>"Bolide: " {{ racer.bolide }}</p>
        <p>"Age: " {{ racer.age }}</p>        
        <p>"Reaction: " {{ racer.reaction }}</p>        
        <p>"Strategic thinking: " {{ racer.strategic_thinking }}</p>        
        <p>"Mental toughness: " {{ racer.mental_toughness }}</p>        
        <p>"G force withstanding: " {{ racer.g_force_withstanding }}</p>        
        <p>"Car understanding: " {{ racer.car_understanding }}</p>        
</body>
</html>